@model Siparis
@{ ViewData["Title"] = "Siparis Detayi"; }

<h2>Siparis Detayi</h2>

<div class="card p-4" style="max-width:600px;">
    <dl class="row">
        <dt class="col-sm-3">Id</dt><dd class="col-sm-9">@Model.Id</dd>
        <dt class="col-sm-3">Musteri</dt><dd class="col-sm-9">@Model.MusteriAdi</dd>
        <dt class="col-sm-3">Restoran</dt><dd class="col-sm-9">@Model.RestoranAdi</dd>
        <dt class="col-sm-3">Yemek</dt><dd class="col-sm-9">@Model.YemekAdi</dd>
        <dt class="col-sm-3">Adet</dt><dd class="col-sm-9">@Model.Adet</dd>
        <dt class="col-sm-3">Birim Fiyat</dt><dd class="col-sm-9">@Model.Fiyat.ToString("N2") TL</dd>
        <dt class="col-sm-3">Toplam</dt><dd class="col-sm-9">@((Model.Fiyat * Model.Adet).ToString("N2")) TL</dd>
        <dt class="col-sm-3">Tarih</dt><dd class="col-sm-9">@Model.Tarih.ToString("dd.MM.yyyy HH:mm")</dd>
        <dt class="col-sm-3">Durum</dt><dd class="col-sm-9">@Model.Durum</dd>
    </dl>
    <a asp-action="Index" class="btn btn-secondary">Listeye Don</a>
</div>
