@model Yemek
@{ ViewData["Title"] = "Yemek Detayi"; }

<h2>Yemek Detayi</h2>

<div class="card p-4" style="max-width:600px;">
    <dl class="row">
        <dt class="col-sm-3">Id</dt><dd class="col-sm-9">@Model.Id</dd>
        <dt class="col-sm-3">Yemek</dt><dd class="col-sm-9">@Model.Ad</dd>
        <dt class="col-sm-3">Restoran</dt><dd class="col-sm-9">@Model.RestoranAdi</dd>
        <dt class="col-sm-3">Kategori</dt><dd class="col-sm-9">@Model.Kategori</dd>
        <dt class="col-sm-3">Fiyat</dt><dd class="col-sm-9">@Model.Fiyat.ToString("N2") TL</dd>
    </dl>
    <a asp-action="Index" class="btn btn-secondary">Listeye Don</a>
</div>
